<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Accounts Page</h1>
<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <#list accounts as acccount>
        <tr>
            <td>${acccount.id}</td>
            <td>${acccount.firstName}</td>
            <td>${acccount.lastName}</td>
        </tr>
    </#list>
</table>
<form action="/accounts" method="post">
    <input name="firstName" placeholder="First Name">
    <input name="lastName" placeholder="Last Name">
    <input type="submit" value="Add">
</form>
</body>
</html>